body {
	display: block;
	position: relative;
	margin: 0px;
	height: 2700px;
	width: 1440px;
	background: #FFFFFF;
}

.header 
.menu
.menu__name {
	position: absolute;
	width: 98px;
	height: 37px;
	left: 52px;
	top: 36px;

	font-family: 'Conv_Montserrat-Medium';
}
.menu__languare
.menu__vector
.burger
.social
.social__insta
.social__vk
.social__fb
.scroll
.main
.collection
.collection__title
.collection__text {
	position: absolute;
	height: 127px;
	width: 467px;
	left: 789px;
	top: 453px;
	border-radius: nullpx;
	font-family: 'Conv_Montserrat-Regular';
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;



}
.collection__info
.collection__link
.clatch
.clatch__image
.clatch__img
.clatch__title
.clatch__subtitle
.clatch__text
.group
.ellipse
.ellipse__gray
.ellipse__pink
.ellipse__blue
.ellipse__green
.price
.basket
.basket__minus
.basket__plus
.button
.ref
.ref__text
.ref__image
.look
.look__image
.look__title
.look__subtitle
.look__text
.info
.info__minus
.info__plus
.look__button
.link
.link__text
.link__image
.footer
.footer__text
.vector
.name